<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Task</h1>
      <p>remember to include a team to your task</p>

      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/gigs/add" method="POST">
        <div class="input-group">
          <label for="title">Task Title</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="eg. Small Wordpress website, React developer"
            maxlength="100" value={{task_title}}>
        </div>
        <div class="input-group">
          <label for="technologies">Task Description</label>
          <input type="text" name="technologies" id="technologies" class="input-box" placeholder="eg. javascript, react, PHP"
          maxlength="100" value={{task_description}}>
        </div>
        <div class="input-group">
          <label for="budget">Task Technologies</label>
          <input type="number" name="budget" id="budget" class="input-box" placeholder="eg. 500, 5000, 10000" value={{task_technologies}}>
        </div>
        <div class="input-group">
          <label for="description">Task Team</label>
          <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the gig"
            rows="10">{{task_team}}</textarea>
        </div>
        <div class="input-group">
          <label for="budget">Task Owner</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email"
            value={{task_owner}}>
        </div>
        <input type="submit" value="Add Gig" class="btn btn-reverse">
      </form>
    </div>
  </section>